body{
    background-color: #414b50;
    font-family: "Montserrat", sans-serif;
    color: #e0be99;
         
}
.profile{
    text-align: left;
}
h1{
    font-size: 25px;
}
img{
    padding: 3%;
}
a{
    color: #749da1;
}
.container{
    display: flex;
    /*flex-direction: column;   Default setup is in row*/
    justify-content: space-evenly;
    align-items: flex-start;    /*Set the position item (start or end of the page)*/
    font-size: 20px;
}
.biography{
    display: flex;
}
article{
    padding: 5%;
}